.container {
  min-width: 50%;
  position: relative;
  background-color: blanchedalmond;
  background: url("https://images.pexels.com/photos/624015/pexels-photo-624015.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
