.container {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  background-color: #101245;
  border-radius: 10px;
  row-gap: 10px;
}

.InfoMenuBtn {
  background-color: #282a58;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.activeInfoMenuBtn {
  background-color: #ff7aaa;
}
