.container {
  background-color: #ffffff94;
  border-radius: 10px;
  width: 60%;
  padding: 50px;
  padding-bottom: 25px;
  overflow-x: auto;
}

.headingContainer {
  margin-bottom: 25px;
}

.moreInfoBtn {
  background-color: #101245;
  color: white;
  padding: 15px;
  border-radius: 25px;
  margin-top: 38px;
  cursor: pointer;
  border: none;
}
