.childContainer {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  position: relative;
  z-index: 3;
  align-items: center;
  /* height: 100vh; */
  padding-top: 40px;
  row-gap: 30px;
}
