.backGroundContainer {
  width: 100vw;
  height: 100vh;
  background-color: #eef1f0;
  overflow: hidden;
  filter: blur(30px);
  position: fixed;
}

.backGroundContainer::before {
  content: "";
  width: 32vw;
  height: 32vw;
  background-color: #e37f9fcc;
  border-radius: 50%;
  position: absolute;
  right: -5vw;
  bottom: -5vw;
}

.backGroundContainer::after {
  content: "";
  background: radial-gradient(#e990ac, #b6b6e7 40%);
  width: 55vh;
  height: 55vh;
  border-radius: 50%;
  position: absolute;
  left: 0vw;
  top: 0vw;
}

@media only screen and (max-width: 768px) {
  .backGroundContainer::before {
    width: 30vh;
    height: 30vh;
    right: -5vh;
    bottom: -5vh;
  }
  .backGroundContainer::after {
    width: 35vh;
    height: 35vh;
  }
}
